.background1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro);
}
.know-about-biodiverbiodiversit {
  margin: 0;
  width: 1140px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.section03 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-25xl) var(--padding-xl) var(--padding-25xl)
    var(--padding-13xl);
  box-sizing: border-box;
  position: relative;
  min-height: 500px;
  max-width: 100%;
  z-index: 1;
}
.card-in-section-03-child {
  position: absolute;
  top: 131px;
  left: 769px;
  border-radius: var(--br-xl);
  width: 515px;
  height: 300px;
}
.article-about-us {
  position: absolute;
  height: 7%;
  width: 20.83%;
  top: 28%;
  left: 60.9%;
  letter-spacing: 0.1em;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.card-in-section-03,
.card-in-section-03-item {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.card-in-section-03 {
  z-index: 2;
}
.card-in-section-03-item {
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ques-of-the {
  width: 258px;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.card-in-section-031 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs-5) var(--padding-xl) var(--padding-236xl-5);
  position: relative;
  z-index: 3;
}
.placeholders3 {
  border-radius: var(--br-lgi);
  background: linear-gradient(90deg, #7eaaff, #052d54);
}
.elements,
.placeholders3,
.placeholders4 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.placeholders4 {
  border-radius: var(--br-lgi);
  background: linear-gradient(90deg, #7eaaff, #052d54);
  z-index: 1;
}
.elements {
  margin: 0 !important;
}
.answer-earn {
  flex: 1;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 600;
  z-index: 2;
}
.bottom-inside-quies-box {
  width: 313px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-5) var(--padding-14xl);
  box-sizing: border-box;
  position: relative;
  z-index: 4;
}
.answer,
.question,
.questions {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.answer {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  margin-top: -63px;
  font-size: var(--font-size-mid);
  font-family: var(--font-inter);
}
.question,
.questions {
  justify-content: flex-start;
  max-width: 100%;
}
.question {
  width: 515px;
  flex-direction: column;
}
.questions {
  height: 300px;
  flex-direction: row;
}
.background2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background: linear-gradient(90deg, #7eaaff, #052d54);
}
.know-more {
  flex: 1;
  position: relative;
  font-size: var(--font-size-mid);
  letter-spacing: 0.1em;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 110px;
  z-index: 1;
}
.articles,
.biodiversity,
.bottom-inside-article-box {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.bottom-inside-article-box {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-14xl) var(--padding-4xs);
  background-color: transparent;
  width: 176px;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  white-space: nowrap;
  z-index: 3;
  margin-top: -63px;
}
.articles,
.biodiversity {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
}
.articles {
  height: 500px;
  align-items: flex-end;
  padding: var(--padding-114xl) var(--padding-300xl) var(--padding-48xl)
    var(--padding-140xl);
  position: relative;
  margin-top: -500px;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
}
.biodiversity {
  align-items: flex-start;
  padding: 0 0 var(--padding-65xl);
  min-height: 584px;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-k2d);
}
@media screen and (max-width: 1050px) {
  .know-about-biodiverbiodiversit {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 750px) {
  .articles {
    padding-left: var(--padding-60xl);
    padding-right: var(--padding-140xl);
    padding-bottom: var(--padding-25xl);
    box-sizing: border-box;
  }
  .biodiversity {
    padding-bottom: var(--padding-36xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .know-about-biodiverbiodiversit {
    font-size: var(--font-size-lg);
  }
  .article-about-us,
  .ques-of-the {
    font-size: var(--font-size-xl);
  }
  .articles {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
