.background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xl-5);
  background-color: var(--color-gainsboro);
}
.join-us {
  flex: 1;
  position: relative;
  font-size: var(--font-size-mid);
  letter-spacing: 0.1em;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: center;
  z-index: 1;
}
.bottom-to-join-us {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid) var(--padding-25xl);
  background-color: transparent;
  width: 196px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
