.sectionn-2-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-darkslategray);
  max-width: 100%;
}
.card01-child,
.sectionn-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
}
.sectionn-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.card01-child {
  border-radius: var(--br-2xl);
  overflow: hidden;
  max-height: 100%;
}
.event-name {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.event-img-icon {
  flex: 1;
  position: relative;
  border-radius: var(--br-2xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.event-img-icon,
.from-260224-to {
  align-self: stretch;
}
.from-0200pm-to,
.from-260224-to {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.date-time,
.info {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.info {
  flex: 1;
  gap: var(--gap-12xs-1);
}
.resister-bottom-icon {
  height: 37.4px;
  width: 136.3px;
  position: relative;
  border-radius: var(--br-2xl);
  object-fit: contain;
  z-index: 1;
}
.card01,
.event-cards,
.register {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.register {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-48xl);
}
.card01,
.event-cards {
  flex-direction: column;
}
.card01 {
  align-self: stretch;
  flex: 1;
  padding: var(--padding-2xl) var(--padding-5xl) var(--padding-5xl-6)
    var(--padding-6xl);
  position: relative;
  gap: var(--gap-base-2);
  z-index: 2;
}
.event-cards {
  height: 377px;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-xs);
}
.card02-child {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.event-name1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.event-img-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-2xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.from-0200pm-to1,
.from-260224-to1 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.from-260224-to1 {
  align-self: stretch;
}
.from-0200pm-to1 {
  font-size: var(--font-size-xs);
}
.durations,
.images {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.images {
  flex: 1;
  gap: var(--gap-12xs-1);
  font-size: var(--font-size-xl);
}
.resister-bottom-icon2 {
  height: 37.4px;
  width: 136.3px;
  position: relative;
  border-radius: var(--br-2xl);
  object-fit: contain;
  z-index: 1;
}
.card02,
.registers {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.registers {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-48xl);
}
.card02 {
  height: 377px;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-5xl) var(--padding-5xl-6)
    var(--padding-6xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-base-2);
  max-width: 100%;
  z-index: 2;
}
.card03-child {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.event-name2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.event-img-icon2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-2xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.from-0200pm-to2,
.from-260224-to2 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.from-260224-to2 {
  align-self: stretch;
}
.from-0200pm-to2 {
  font-size: var(--font-size-xs);
}
.event-img-parent,
.from-260224-to-020324-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.event-img-parent {
  flex: 1;
  gap: var(--gap-12xs-1);
  font-size: var(--font-size-xl);
}
.resister-bottom-icon1 {
  height: 37.4px;
  width: 136.3px;
  position: relative;
  border-radius: var(--br-2xl);
  object-fit: contain;
  z-index: 1;
}
.card03,
.events2,
.resister-bottom-wrapper {
  align-items: flex-start;
  justify-content: flex-start;
}
.resister-bottom-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-48xl);
}
.card03,
.events2 {
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.card03 {
  height: 377px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl) var(--padding-5xl) var(--padding-5xl-6)
    var(--padding-6xl);
  gap: var(--gap-base-2);
  z-index: 2;
}
.events2 {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  padding: var(--padding-42xl) var(--padding-128xl) var(--padding-43xl);
  gap: var(--gap-54xl);
  grid-template-columns: repeat(3, minmax(252px, 1fr));
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .events2 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(252px, 437px));
  }
}
@media screen and (max-width: 1050px) {
  .event-name,
  .event-name1,
  .event-name2 {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 750px) {
  .events2 {
    gap: var(--gap-17xl);
    padding: var(--padding-21xl) var(--padding-54xl);
    box-sizing: border-box;
    grid-template-columns: minmax(252px, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .event-name {
    font-size: var(--font-size-lg);
  }
  .from-260224-to {
    font-size: var(--font-size-base);
  }
  .card01,
  .register {
    box-sizing: border-box;
  }
  .register {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
  }
  .card01 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
  }
  .event-name1 {
    font-size: var(--font-size-lg);
  }
  .from-260224-to1 {
    font-size: var(--font-size-base);
  }
  .card02,
  .registers {
    box-sizing: border-box;
  }
  .registers {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
  }
  .card02 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
  }
  .event-name2 {
    font-size: var(--font-size-lg);
  }
  .from-260224-to2 {
    font-size: var(--font-size-base);
  }
  .resister-bottom-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .card03,
  .events2 {
    box-sizing: border-box;
  }
  .card03 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
  }
  .events2 {
    gap: var(--gap-lg);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
  }
}
