.sectionn-2-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-darkslategray);
  max-width: 100%;
}
.sectionn-2 {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 1;
}
